@{
    ViewBag.Title = "DVS " + @ViewContext.Controller.GetType().Assembly.GetName().Version;// + " / " + @File.GetCreationTime(ViewContext.Controller.GetType().Assembly.Location);
}

<!DOCTYPE html>
<html ng-app="@ViewBag.App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PLUGINS USED BY X-EDITABLE -->
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"  rel="stylesheet" type="text/css"/>
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <!-- END PLUGINS USED BY X-EDITABLE -->

    <!-- BEGIN THEME STYLES -->
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/css/components.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="http://cdn.lsports.eu/Content/Metronic/theme/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.lsports.eu/Content/Metronic/theme/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->

    <link href="../../../../Content/app.css" rel="stylesheet" type="text/css" />
    
    <!--<link href="../../../../Content/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />-->
    <link href="../../../../Content/components-md-rtl.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" />

    <script src="http://cdn.lsports.eu/Scripts/Highstock/highstock.js"></script>

    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../../../../Scripts/_Shared/angular-sortable-view.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../../../Scripts/_Shared/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="../../../../Scripts/_Shared/components-boostrap-multiselect.js"></script>

    <script type="text/javascript" src="../../../../Scripts/_Shared/config.js"></script>
    <!---->
    <script type="text/javascript" src="../../../../Scripts/_Shared/bootstrap-modalmanager.js"></script>
    <link rel="stylesheet" href="../../../../Content/bootstrap-multiselect.css" type="text/css" />

    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/moment.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.1.2/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/3cfcc339e89/sorting/datetime-moment.js"></script>
    
    <link href="../../Content/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jquery.fileupload.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.css">

    <script type="text/javascript" src="../../Scripts/_Shared/bootstrap-modal.js"></script>

    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <script type="text/javascript" src="../../Scripts/_Shared/vendors/jquery.fileupload.js"></script>

    <script type="text/javascript" src="../../Scripts/_Shared/vendors/jquery.fileupload-process.js"></script>
    <script type="text/javascript" src="../../Scripts/_Shared/vendors/jquery.fileupload-audio.js"></script>
    <script type="text/javascript" src="../../Scripts/_Shared/vendors/jquery.fileupload-image.js"></script>
    <script type="text/javascript" src="../../Scripts/_Shared/vendors/jquery.fileupload-validate.js"></script>
    <script type="text/javascript" src="../../Scripts/_Shared/vendors/jquery.fileupload-video.js"></script>
    <script type="text/javascript" src="../../Scripts/_Shared/vendors/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="../../Scripts/_Shared/vendors/jquery.fileupload-angular.js"></script>

    <script type="text/javascript" src="../../Scripts/_Shared/vendors/vkbeautify.0.99.00.beta.js"></script>

    <script src="~/Scripts/_Shared/trix/trix.js"></script>
    <script src="~/Scripts/_Shared/trix/angular-trix.js"></script>
    <script src="~/Scripts/_Shared/hashmap/hashmap.js"></script>

    <script src="~/Scripts/_Shared/NetworkServices/network-services.js"></script>
    <script src="~/Scripts/_Shared/DropdownDatasource/dropdownDatasource.js"></script>
    <script src="~/Scripts/_Shared/select2/angular-select2.js"></script>
    
    <script src="~/Scripts/_Shared/DashboardComponents/dashboard.js"></script>
    <script src="~/Scripts/_Shared/DashboardComponents/DashboardSidebar/dashboardSidebarController.js"></script>
    <script src="~/Scripts/_Shared/DashboardComponents/DashboardSidebar/dashboardSidebarDirective.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="http://goessner.net/download/prj/jsonxml/xml2json.js"></script>

    <script type="text/javascript" src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/select2/select2.min.js"></script>

    <script type="text/javascript" src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js"></script>

    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/flot/jquery.flot.min.js"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/flot/jquery.flot.stack.min.js"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/flot/jquery.flot.crosshair.min.js"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/flot/jquery.flot.time.min.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
    <script type="text/javascript" src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/scripts/metronic.js" type="text/javascript"></script>

    <script type="text/javascript" src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js"></script>
    <!-- END X-EDITABLE PLUGIN -->

    <script type="text/javascript" src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/jquery.mockjax.js"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/typeahead/typeahead.bundle.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/typeahead/typeahead.css"/>

    @RenderSection("Scripts", false)
</head>
<body class="page-header-fixed page-quick-sidebar-over-content" style="overflow-x: hidden; max-height:1000px">

    <!-- BEGIN HEADER -->
    @Html.Partial("_DashboardHeader")
    <!-- END HEADER -->
    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container" style="margin-top: 0px;">
        <!-- BEGIN SIDEBAR -->
        
        @Html.Partial("_DashboardSidebar")
        
        <div class="page-content-wrapper">
            <div class="page-content" style="overflow: auto;position: relative; height: 100% !important;">
                <!-- BEGIN PAGE CONTENT-->

                @RenderSection("Body", false)

                <!-- END PAGE CONTENT-->
            </div>
        </div>
        <!-- END CONTENT -->

        <!-- BEGIN QUICK SIDEBAR -->
        @*<dashboard-right-sidebar-directive></dashboard-right-sidebar-directive>*@
    </div>
    <!-- END CONTAINER -->

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
        <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/respond.min.js"></script>
        <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <!--<script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
        <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>-->
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>

    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/admin/pages/scripts/table-managed.js"></script>
    <script src="http://cdn.lsports.eu/Content/Metronic/theme/assets/admin/pages/scripts/ui-toastr.js"></script>

    <script>
    $(document).ready(function() {
        $('.page-sidebar-menu').on('click', '.nav-link', function (e) {
            $(this).children('a > span.arrow').toggleClass('open');
            //console.log($(this).parent().parent().parent().css('height'));

        });
        
        Metronic.init(); // init metronic core components
        //Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
        //Demo.init(); // init d
    });
    </script>

    <!-- END BODY -->

</body>

</html>
